# Configuration vars for cmd/app
[app]
name = "Fiber starter"
port = ":8080"
idle-timeout = 5 # As seconds
print-routes = false
prefork = true
production = true
url = "http://localhost/"

[app.tls]
enable = false
cert-file = "./storage/selfsigned.crt"
key-file = "./storage/selfsigned.key"

[inertia]
manifest = "./frontend/dist/manifest.json"

[db.postgres]
dsn = "postgresql://postgres:postgres@127.0.0.1:5432/fiber-starter" # <driver>://<username>:<password>@<host>:<port>/<database>

[cache.redis]
url = "redis://:@localhost:6379/"

[logger]
time-format = "" # https://pkg.go.dev/time#pkg-constants, https://github.com/rs/zerolog/blob/master/api.go#L10 
level = 0 # panic -> 5, fatal -> 4, error -> 3, warn -> 2, info -> 1, debug -> 0, trace -> -1
prettier = true

[middleware.compress]
enable = true
level = 1

[middleware.recover]
enable = true

[middleware.monitor]
enable = false
path = "/monitor"

[middleware.pprof]
enable = true

[middleware.limiter]
enable = false
max = 20
expiration_seconds = 60

[middleware.jwt]
secret = "secret"
expiration_seconds = 3600